@charset "UTF-8";

:root{
    --cor1: #2676D1;
    --cor2: #E8E7DF;
    --cor3: #FFFDF5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: var(--cor2);
}

header{
    top: 0;
    left: 0;
    right: 0;
    height: 45px;
    display: flex;
    z-index: 1000;
    position: fixed;
    align-items: center;
    justify-content: end;
    background-color: var(--cor1);
}

.menu ul {
    display: flex;
    list-style: none;
}

.menu i{
    color: white;
    padding: 10px;
    font-size: 1.3em;
}

.menu i:hover{
    transition: .5s;
    color: var(--cor1);
    background-color: #61a2ebe6 ;
}

.menu a{
    margin: 10px;
    text-decoration: none;
}

section{
    top: 50%;
    width: 90%;
    padding: 15px;
    margin: 50px auto;
    background-color: var(--cor3);
}

#foto-perfil img {
    width: 200px;
    height: 200px;
    padding: 2px;
    display: grid;
    margin: 20px;
    border-radius: 50%;
    justify-self: center;
    border: 5px solid var(--cor1);
}

#texto-ficha h1{
    color: var(--cor1);
}

#redes-sociais {
    width: 100%;
    display: flex;
    margin-top: 10px;
    justify-content: center;
}

#redes-sociais a {
    width: 80vw;
    padding: 5px;
    text-align: center;
}

#redes-sociais img {
    width: 30px;
    height: 30px;
}

#texto-apresentacao {
    display: flex;
    color: var(--cor1);
    padding-left: 10px;
    align-items: center;
}

#texto-apresentacao h1{
    padding: 10px;
}

#texto-apresentacao img {
    width: 40px;
    height: 40px;
}

.video{
    margin: auto -10px;
    position: relative;
    padding-bottom: 55%;
}

.video iframe{
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    position: absolute;
    border-radius: 20px;
}

#texto-skills{
    display: flex;
    color: var(--cor1);
    padding-left: 10px;
    align-items: center;
}

#texto-skills h1{
    padding: 10px;
}

#texto-skills img {
    width: 30px;
    height: 30px;
}

/* Estilo geral para todos os navegadores */
progress {
  /* Altera a altura da barra */
  height: 20px;
  /* Remove a aparência nativa do navegador */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Cor de fundo para a barra "vazia" (fallback) */
  background-color: #e0e0e0;
  /* Adiciona bordas arredondadas */
  border-radius: 20px;
}

/* Estilizando o progresso preenchido em navegadores baseados em WebKit (Chrome, Safari, Opera) */
progress::-webkit-progress-value {
  background-color: #007bff; /* Cor azul para a barra de progresso */
  border-radius: 20px;
  /* Adiciona uma transição suave para a animação */
  transition: width 0.4s ease-in-out;
}

/* Estilizando a barra "vazia" em navegadores baseados em WebKit */
progress::-webkit-progress-bar {
  background-color: #e0e0e0; /* Cor de fundo da barra vazia */
  border-radius: 20px;
}

.progress-bar{
    width: 90%;
    margin: 10px auto;
}

.progress-bar img {
    width: 30px;
    height: 30px;
}

.legenda{
    width: 100%;
    display: flex;
    font-weight: bold;
    color: var(--cor1);
    justify-content: space-between;
}

.icone {
    color: black;
    display: flex;
    align-items: center;
}

.icone h1{
    padding: 0 10px;
}

.barra-upload{
    height: 10px;
    width: 100%;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

#formacao{
    width: 90%;
    padding: 15px;
    margin: 20px auto;
    background-color: var(--cor3);
}

#texto-formacao {
   display: flex;
    color: var(--cor1);
    padding-left: 10px;
    align-items: center;
}

#texto-formacao h1 {
    padding: 10px;
}

#texto-formacao img {
    width: 30px;
    height: 30px;
}

.formacao-item {
    width: 90%;
    padding: 10px;
    margin: 10px auto;
    border-radius: 10px;
    border-left: 8px solid var(--cor1);
    background-color: var(--cor2);
}

.formacao-item:hover{
    transition: .4s;
    background-color: lightgrey;
    border-left: 18px solid var(--cor1);
}

.formacao-item h2 {
    color: #3e91e9;
}

#projetos{
    width: 90%;
    padding: 15px;
    margin: 20px auto;
    background-color: var(--cor3);
}

#texto-projetos {
   display: flex;
    color: var(--cor1);
    padding-left: 10px;
    align-items: center;
}

#texto-projetos h1 {
    padding: 10px;
}

#texto-projetos img {
    width: 30px;
    height: 30px;
}

.projeto-item {
    width: 90%;
    padding: 10px;
    margin: 10px auto;
    border-radius: 10px;
    border-left: 8px solid var(--cor1);
    background-color: var(--cor2);
}

.projeto-item:hover {
    transition: .4s;
    background-color: lightgrey;
    border-left: 18px solid var(--cor1);
}

.projeto-item h2 {
    color: #3e91e9;
}

.projeto-item img {
    width: 100%;
    height: 80%;
    border-radius: 10px;
}

footer{
    padding: 20px;
    margin: auto;
    background-color: var(--cor1);
}

footer p {
    color: var(--cor3);
    text-align: center;
}